#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

p {
  font-size: .7rem;
}
b {
  font-size: 1rem;
}

/* Top Bar Styles */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.game-title {
  font-size: 24px;
  font-weight: bold;
}

.resource-status {
  display: flex;
  gap: 10px;
}

.login-button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


/* App.css */
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.imgur.com/6kHA8Dd.png');
}
.card-areas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.top-board {
  display: flex;
  justify-content: space-evenly;
}

.tower-offer {
  display: flex;
  justify-content: center;
}

.wizard-offer {
  display: flex;
  justify-content: center;
}

.bottom-board {
  display: flex;
}

.familiar-offer {
  display: flex;
  justify-content: center;
}

.spell-offer {
  display: flex;
  justify-content: center;
}

.resource-tracks, .player-resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.resource-track {
  margin: 10px;
  display: flex;
  align-items: center;
}

.resource-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.card-area {
  margin: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 150px;
}

.player-area {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

.player-cards {
  display: flex;
  flex-wrap: wrap;
}

.player-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.player-actions .resource-cards,
.player-actions .convert-resources,
.player-actions .wizards-on-offer {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.player-actions button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.player-actions button.selected {
  background-color: #4caf50;
  color: white;
}

.player-actions input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  width: 100px;
  text-align: center;
}

/* Resource Card Styles */
.resource-card {
  border: 1px solid #999;
  border-radius: 8px;
  width: 150px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.resource-card.selected {
  border-color: #4caf50;
  background-color: #e0ffe0;
}

.gather-section, .increase-section {
  margin-bottom: 10px;
}

.gather-section h3, .increase-section h3 {
  margin: 0;
  background-color: #d9534f;
  color: white;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.increase-section h3 {
  background-color: #0275d8;
}

.resources {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.resource {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.resource img {
  width: 30px;
  height: 30px;
}

.resource span {
  margin-top: 5px;
  font-size: 14px;
}

.resource.selected {
  border: 2px solid #4caf50;
  border-radius: 50%;
  padding: 2px;
}

/* Wizard Card Styles */
.wizard-card {
  border: 1px solid #999;
  border-radius: 8px;
  width: 150px;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient( rgb(250,246,217), rgb(202,191,196));
  align-items: center;
}

.wizard-card .wizard-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.wizard-card .wizard-details {
  text-align: center;
}

.wizard-card .wizard-details h3 {
  margin: 10px 0 5px;
}

.wizard-card .wizard-details p {
  margin: 5px 0;
}

.wizard-deck {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

/* Tower Card Styles */
.tower-card {
  border: 1px solid #999;
  border-radius: 8px;
  width: 150px;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 239, 234);
  align-items: center;
}

.tower-card .tower-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.tower-card .wizard-details {
  text-align: center;
}

.tower-card .wizard-details h3 {
  margin: 10px 0 5px;
}

.tower-card .wizard-details p {
  margin: 5px 0;
}

.tower-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Familiar Card Styles */
.familiar-card {
  border: 1px solid #999;
  border-radius: 8px;
  width: 100px;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: rgb(243,237,208);
  align-items: center;
}

.familiar-card .familiar-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.familiar-card .familiar-details {
  text-align: center;
}

.familiar-card .familiar-details h3 {
  margin: 10px 0 5px;
}

.familiar-card .familiar-details p {
  margin: 5px 0;
}

.familiar-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Spell Card Styles */
.spell-card {
  border: 1px solid #999;
  border-radius: 8px;
  width: 100px;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: rgb(196,174,190);
  align-items: center;
}

.spell-card .spell-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.spell-card .spell-details {
  text-align: center;
}

.spell-card .spell-details h3 {
  margin: 10px 0 5px;
}

.spell-card .spell-details p {
  margin: 5px 0;
}

.spell-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Face Down Card Styles */
.face-down-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.face-down-card-image {
  width: 200px;
  height: 100%;
  object-fit:fill;
  border-radius: 8px;
}
