.error-modal-container {
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .error-modal {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .error-character {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .error-content {
    padding: 20px;
  }
  
  .error-content h3 {
    margin: 0 0 10px;
  }
  
  .error-content p {
    margin: 0 0 20px;
  }
  
  .error-content button {
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  