.player-actions {
  text-align: left;
}

.resource-cards {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.wizards-on-offer,
.towers-on-offer,
.familiar-cards,
.spells-on-offer {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
