
/* Familiar Card Styles */
.familiar-card {
    border: 1px solid #999;
    border-radius: 8px;
    width: 100px;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: rgb(243,237,208);
    align-items: center;
    position: relative;
  }
  
  .familiar-card .familiar-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .familiar-card .familiar-details {
    text-align: center;
  }
  
  .familiar-card .familiar-details h3 {
    margin: 10px 0 5px;
  }
  
  .familiar-card .familiar-details p {
    margin: 5px 0;
  }
  
  .familiar-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Power Icon Styles */
  .power-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
  }

/* Tooltip styling */
.tooltip {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  
  .familiar-card:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  /* Familiar Actions CSS */
  .familiar-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .familiar-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .familiar-actions-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .familiar-actions-buttons button {
    margin: 0 10px;
  }
  